{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    Outros materiais
{% endblock %}

{% block container %}

    <ul class="list-group">

        <li class="list-group-item" ><b> Materiais para estudo </b><br/>
        <a target="_blank" href=""> Livro </a><br/>
        <a href="">Site</a><br/>
        <a href="">Slides</a>
        </li>

        <li class="list-group-item" ><b> Outros </b><br/>
        <a href=""> Progress Code </a><br/>
        <a href=""> Logic in a logic way</a><br/>
        <a href=""> Classificação das questões</a><br/>
        <a href=""> TCC otávio </a>
        </li>

        <li class="list-group-item" ><b>Artigos sobre OBI</b><br/>
            <a href=""> Artigo </a><br/>
        </li>

        <li class="list-group-item" > <b>Fale conosco:</b><br/>
            <a href="https://www.facebook.com/CompClubUFSM/"> Clube de Computação da UFSM </a><br/>
        </li>

    </ul>

{% endblock %}