{% extends 'base.html' %}
{% load static %}

{% block caminho %}
    Provas / Busca Problemas
{% endblock %}

{% block container %}
     <form action="" method="GET">
        <div class="form-group">

            {% if error %}
                <p style="color: red;">Por favor, entre com um valor.</p>
            {% endif %}

            <div class="col-xs-9">
                <input type="text" class="form-control" name="q"/><br/>
                <label class="radio-inline">Procurar problema por: </label>&emsp;
                <label for="box1"><input type="radio" name="display_type" value="titulobox" id="box1">Título</label>&emsp;
                <label for="box2"><input type="radio" name="display_type" value="classificacaobox" id="box2">Classificação</label>&nbsp;&nbsp;
                <label for="box3"><input type="radio" name="display_type" value="palavrabox" id="box3">Palavra-chave</label>&nbsp;&nbsp;
                <label for="box4"><input type="radio" name="display_type" value="todosbox" id="box4" checked="checked">Todos</label>

            </div>
            <div class="col-xs-2">
                <button type="submit" class="btn btn-primary">Buscar</button>
            </div>
        </div>
    </form>
{% endblock %}