{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    Busca
{% endblock %}

{% block container %}
    <h1>Provas</h1>

    <table id="tableprovas" class="display">
        <thead>
        <tr>
            <th>Ano / Nível / Fase</th>
            <th>Prova</th>
            <th>Gabarito</th>
        </tr>
        </thead>
        <tbody>
        {% for prova in provas %}
            <tr>
                <td> Ano {{ prova.anoprova }} / Nível {{ prova.nivelprova }} / Fase {{ prova.faseprova }}</td>
                <td><a href="{{ prova.urlprova }}">Link Prova</a></td>
                {% if prova.urlgabarito %}
                    <td><a href="{{ prova.urlgabarito }}">Link Gabarito</a></td>
                {% else %}
                    <td>Sem link cadastrado.</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>


</br><hr class="my-2"></br></br>

    <h1>Problemas</h1>
    <!--<p>Buscar por título, enunciado, classificacão</p>-->

    <form action="" method="GET">
        <div class="form-group">
            {% if error %}
                <p style="color: red;">Por favor, entre com um valor.</p>
            {% endif %}

            {% if erroinput %}
                <p style="color: red;">Busca inválida, busque por um ano, nível ou fase de prova.</p>
            {% endif %}

            <div class="row">
                <div class="col-10">
                    <input type="text" class="form-control" name="q"/><br/>
                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-primary btn-block">Buscar</button>
                </div>
            </div>
        </div>
    </form>
    <table id="tableproblemas" class="display">
        <thead>
        <tr>
            <th>Ano / Nível / Fase</th>
            <th>Classificação</th>
            <th>Título</th>
        </tr>
        </thead>
        <tbody>
        {% for problema in problemas %}
            <tr>
                <td>Ano {{ problema.codprova.anoprova }} / Nível {{ problema.codprova.nivelprova }} /
                    Fase {{ problema.codprova.faseprova }}</td>
                <td>{% for class in problema.classificacao.all %}{{ class.tituloclassificacao }} {% endfor %}</td>
                <td><a href="{% url 'provas_obi:url_prob_info' problema.codproblema %}">{{ problema.tituloproblema }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block extra_scripts %}
    <script>
        $(document).ready(function () {
            $('#tableprovas').DataTable();
        });
        $(document).ready(function () {
            $('#tableproblemas').DataTable({"searching": false});
        });
    </script>
{% endblock %}

