{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    Gabarito
{% endblock %}

{% block container %}

    <p align="center" style="margin-top:5%;">

    {% for p in problemas %}
        {% for q in questoes %}
            {% if p.codproblema == q.codproblema.codproblema %}
            <div class="pull-left form-control-inline">
             <h5 class="list-group-item-heading"><b>Questão {{forloop.counter}} - </b>{{q.gabaritoquestao}}</h5>
            </div>
            {% endif %}
        {% endfor %}
  {% endfor %}
<br>
        <button type="submit" name="finalizar" value="True" class="btn btn-primary">Imprimir Gabarito</button>
    </p>
{% endblock %}