{% extends './../base2.html' %}
{% load static %}

{% block titulo %}
    Minha Prova
{% endblock %}

{% block container %}

    {% for p in provaperson%}
        Título: {{p.titulo}}</br>
        Ano: {{p.ano}}</br>
        Dificuldade: {{p.dificuldade}}</br>
        Observações: {{p.observacoes}}</br></br>
{{p.codprova}}
        <a href="{% url 'usuarios_obi:provaperson_edit' p.pk %}" class="btn btn-primary" role="button" >Editar</a>
        <a href="{% url 'usuarios_obi:provaperson_pronta' p.pk %}" class="btn btn-primary" role="button" >Ver Prova</a>
    {% endfor %}

<a href="{% url 'usuarios_obi:provasperson' %}" class="btn btn-outline-primary" role="button" >Minhas Provas</a>

{% endblock %}
